@font-face {
  font-family: "iconfont"; /* Project id 2888357 */
  src: url('iconfont.woff2?t=1634989022155') format('woff2'),
       url('iconfont.woff?t=1634989022155') format('woff'),
       url('iconfont.ttf?t=1634989022155') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-password:before {
  content: "\e75b";
}

.icon-account-fill:before {
  content: "\e7aa";
}

